body {
    background: #FFF1D6 url(image/noise.png);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

h1 a {
    color: dimgray;
    text-decoration: none;
}

h1 a:hover {
    background-color: #3c5d61;
    color: #FFF;
}

.clear {
    clear: both;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.place {
    background-color: #FFF;
    border-color: #CCC #999 #999 #CCC;
    border: 1px solid #CCC;
    margin-bottom: 20px;
    padding: 10px;
}

.place h2 {
    border-bottom: 1px dashed #7E9F19;
    margin: 0;
}

.place a {
    color: #2C88A7;
    font-weight: bold;
}

.place img {
    border: 1px solid #7E9F19;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
}

footer {
    font-size: 12px;
    text-align: center;
}